<h1>Temperature <span id="latest_temperature"></span></h1>
<h1>Humidity <span id="latest_humidity"></span></h1>
<h3>In last <span id="hour_timeframe"><%= @hours %></span> hours</h3>

<div id="temp_chart_div"></div>

<div style="text-align:center;">
	<a href="/graphs?hours=12"><button type="button">12 Hours</button></a>
	<a href="/graphs?hours=24"><button type="button">24 Hours</button></a>
	<a href="/graphs?hours=48"><button type="button">48 Hours</button></a>
	<a href="/graphs?hours=176"><button type="button">1 Week</button></a>
</div>